#triangle-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #747474;
    margin-right: 6px;
}
.blue-drop-down-indicator {
    border-top: 5px solid #0074D3 !important;
}
.disabled-drop-down-indicator {
    border-top: 5px solid #C2C2C2 !important;
}