@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.bloc-tabs {
    display: flex;
    height: 44px;
    border-bottom: 1px solid #E1E5E6;
    padding: 0 30px;
    width: 100%;
    flex-direction: row;
}

.bloc-tabs .tabs{
    border-bottom: 2px solid transparent;
    padding: 11px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    color: #5F6368;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;
    margin-top: 0px;
}

.bloc-tabs .active-tabs {
    background-color: rgba(0, 120, 212, 0.1);
    border-bottom: 2px solid #0074d3;
    font-weight: 600;
    color: #0074d3;
}
.tabs:hover {
    color: #0074d3;
}


.setup-container-tab {
    font-family: "Roboto", sans-serif;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #E5E8EC;
    position: relative;
}
.setup-button-global.active::after {
    content: "";
    display: block;
    height: 3px;
    background-color: #0074d3;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.setup-button-global:hover .project-setup-btn{
    color: #0074d3;
}
.project-setup-btn.active{
    color: #0074d3;
}

.setup-button-global.active {
    position: relative;
}

.setup-button-global {
    margin-right: 0px;
    transition: 0.3s all ease;
    cursor: pointer;
    margin-bottom: 0px;
    padding: 0px 30px 13px 30px;
}

.setup-button-global:last-child {
    margin-right: 0px;
}

.project-setup-btn {
    border: none;
    background: transparent;
    background-color: transparent;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #2A353E;
    padding: 0px;
}


/* Tab variant 3 */

.contained-tab-wrapper {
    font-family: "Roboto", sans-serif;
    border: 1px solid #0074D3;
    background-color: #FFF  ;
    border-radius: 4px;
    padding: 2px;
    display: flex;
    width: 400px;
    height: 36px;
}
.contained-tab-wrapper .inner-tabs{
    flex: 1;    /* to spread the items equally */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: #0074d3;
    border-radius: 4px;
    margin-right: 2px;
    cursor: pointer;
}
.contained-tab-wrapper .inner-tabs.active{
    color: #FFF;
    background-color: #0074D3;
    font-weight: 600;
}
.contained-tab-wrapper .inner-tabs:last-child{
    margin-right: 0;
}